.conteudo{
    opacity: 0.3;
    transition: 0.5s;
}
.conteudo:hover{
    transform: scale(0.8);
}
.conteudo-ativo{
    display: block;
    opacity: 1;
    transition: 0.5s;
}
.conteudo-ativo:hover{
    transform: scale(1.08);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: 20vh;
    gap: 20px;
}
.botoes{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
div:not(.container,.botoes){
    border: 1px solid;
}
button{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer;
}