*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    gap: 10px;
}
button{
    height: 40vh;
    width: 20vw;
}
h1{
    margin-top: 20px;
}
.active{
    border: 2px solid blue;
}