[data-cor = "red"]{
    background-color: red;
}
[data-cor = "blue"]{
    background-color: blue;
}
[data-cor = "green"]{
    background-color: green;
}
[data-cor = "branco"]{
    background-color: white;
}